<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log on price monitor</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/authorization.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
 
    <!-- Integrate jQuery -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/jquery-3.3.1.min.js"></script>
</head>
 
<body>
<div class="pricemonitor-main-content" xmlns="http://www.w3.org/1999/html">
    <div class="pricemonitor-auth">
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                <input type="password" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
             <div class="form-group row">
                <button type="button" class="btn btn-link">No account yet? Click here</button>
                <div>
                    <button type="button" id="loginButton" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
  
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/app.js"></script>
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/bootstrap.min.js"></script>
</body>
</html>