<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integration with pricemonitor</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/main.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    {# <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/bootstrap-datetimepicker.min.css" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/toastr.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/select2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Integrate jQuery -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/jquery-3.3.1.min.js"></script>
    
    <!-- Integrate momentjs -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    {# <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/moment.min.js"></script> #}

    <!-- Integrate toastr -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/toastr.js"></script>

</head>
 
<body>

    <div id="previewModal" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="myHeader">
                <h2 class="modal-title" style="text-align:center;">Filtered products</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body" id="myModalBody">
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Product name</th>
                                <th> Product number</th>
                            <tr />
                        </thead>
                        <tbody id="bodyPreviewData"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="myFooter">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


   <div class="priceMonitorPrestaMain">
   <div class="tabprestaprice">
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'Dashboard',this)" id="defaultOpen">Global Dashboard</button>
        <button class="tablinksprestaprice accordion" onclick="expandCollapseMenu(this)">Contracts</button>
        <ul class="ulAccordation" style="display:none;"> 
            {% if contracts is not null %}
                {% for contract in contracts %}
                    <li>  <button class="tablinksprestaprice secondLevelButton" data-Id={{contract.id}} data-salesPrice = {{contract.salesPricesImport|join(',')}} data-insertPrices={{contract.isInsertSalesPrice}}  data-contractId = {{contract.priceMonitorId}} onclick="showTabContentContent(event, 'Contracts',this)"> {{contract.name}}</button></li>
                {% endfor %}
            {% endif %}           
        </ul>
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'MyAccount',this)">My account</button>
    </div>

<div id="Dashboard" class="tabcontentprestaprice">

   <h1 class="title">Welcome to the Pricemonitor</h1><br>
        <span class="text">The Pricemonitor helps you to increase sales by <b>optimizing your selling prices</b> and by providing important market insights</span><br><br>
        <img class="pricemonitor-dashboardimg" src="{{ plugin_path("PriceMonitorPlentyIntegration") }}/images/dashboard.png"><br><br>        

        <span class="text">To transfer your products and receive optimized selling prices it is necessary to connect your Shopware shop with the Pricemonitor by using the configuration under <a href="#" class="contracts">contracts</a>.</span><br><br>
        <span class="text">If you need help or would like to have a personal and individual advisory, please do not hesitate to contact our support team:</span><br><br>
        <ul class="text">
            <li> <a href="http://www.patagona.de" target="_blank">www.patagona.de</a></li>
            <li> +49 (0)6151 8008320</li>
            <li> <a href="mailto:support@patagona.de">support@patagona.de</a></li>
        </ul>
 </div>

    <div id="Contracts" class="tabcontentprestaprice">
        <div class="pricemonitor-main-content" xmlns="http://www.w3.org/1999/html">
            <div class="pricemonitor-contract-main">
                <div class="spinner">
                    <div class="spinner-loader"></div>
                </div>
                <div class="pricemonitor-header-warning" id="pricemonitor-expiry-header-warning">
                    <span class="icon">&nbsp;</span>
                </div>
                 <div class="pricemonitor-header-error" id="pricemonitor-expiry-header-error">
                    <span class="icon">&nbsp;</span>
                </div>
                <div class="tab">
                    <button class="tablinks" id="tabContractInfo" onclick="showTabContent(event, 'ContractInfo')">Contract info</button>
                    <button class="tablinks" id="tabItemSelection" onclick="showTabContent(event, 'ItemSelection')">Item selection</button>
                    <button class="tablinks" id="tabAttMapping" onclick="showTabContent(event, 'AttributesMapping')" >Attributes mapping</button>
                    <button class="tablinks" id="itemExport" onclick="showTabContent(event, 'ItemExport')">Item export </button>
                    <button class="tablinks" id="tabPriceSelection" onclick="showTabContent(event, 'PriceSelection')">Price selection </button>
                    <button class="tablinks" id="itemImport" onclick="showTabContent(event, 'PriceImport')">Price import </button>
                </div>
                <div id="ContractInfo" class="tabcontent">
                    <section id="sectionContractInfo">
                        <form>

                           <input type="hidden" class="form-control" id="idContract">
                            <div class="form-group row">
                                <label for="contractName" class="col-sm-2 col-form-label">Contract name:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="contractName" placeholder="Contract name" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contractId" class="col-sm-2 col-form-label">Contract id:</label>
                                <div class="col-sm-4">                                    
                                    <input type="text" class="form-control" id="contractId" placeholder="Contract Id" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group row">                               
                                    <label for="salesPrice" class="col-sm-3 col-form-label">Sales price to import in:</label>
                                    <div class="col-sm-4" style="margin-left:-8% !important">
                                        <select class="js-example-basic-multiple" name="salesPrice[]" id="salesPrice" multiple="multiple">
                                            {% if salesPrices is not null %}
                                                {% for salePrice in salesPrices %}
                                                        <option value={{salePrice.salesPriceId}}>{{salePrice.nameInternal}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div> 

                                    <label for="salesPriceVariationSelect" class="col-sm-3 col-form-label">Insert sales price in variation:</label>
                                    <div class="col-sm-3" style="margin-left:-4%">
                                        <select class="form-control" id="salesPriceVariationSelect">
                                            <option value='true'>Yes</option>
                                            <option value='false'>No</option>                                           
                                        </select>        
                                    </div>                               
                            </div>
                            <div class="form-group" id="groupSubmitContractInfo">
                                <button type="submit" class="btn btn-primary float-right" onclick="updateContractInfo(); return false;">Save</button>
                            </div>                            
                        </form>
                    </section>
                </div>

                <div id="ItemSelection" class="tabcontent">
                    <section id="pricemonitor-product-selection" class="pricemonitor-product-selection pricemonitor-page">
                        <form name="pricemonitorProductSelection">
                             
                             <fieldset>
                                <div class="pricemonitor-filter-groups-wrapper col-md-12">
                                    <!-- Groups will be generated here based on data fetched from the API -->
                                </div>
                            </fieldset>

                            <div class="form-group" id="groupSubmitItemSelection">
                                <button  style="margin-top:10%;margin-left:85%;" class="btn btn-default" onclick="preview();return false;">Preview</button>
                                <button type="submit" style="margin-top:10%;" class="btn btn-primary float-right" onclick="saveFilter(); return false;">Save</button>
                            </div>                            
                        </form>
                    </section>
                </div>

                <div id="AttributesMapping" class="tabcontent">
                   <section class="pricemonitor-attributes-mapping pricemonitor-page" id="pricemonitor-attributes-mapping">
                            <div class="spinner">
                                <div class="spinner-loader"></div>
                            </div>
                            <form name="pricemonitorAttributesMapping" novalidate onsubmit="return false;">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Mandatory attributes</legend>
                                    <div class="form-group row">
                                        <label for="attribute-gtin" class="col-sm-2 col-form-label">Gtin</label>
                                        <div class="col-sm-4">
                                             <div class="filterable-dropdown-wrapper input-wrapper">
                                                <!--        Filterable drop down    -->
                                                <select
                                                    class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                    name="attribute-gtin"
                                                    id="attribute-gtin"
                                                    onchange="updateCodeValuesOnInput(this)"
                                                    autocomplete="off"
                                                    required
                                                />
                                                </select>
                                                <input type="hidden"
                                                    class="pricemonitor-form-field"
                                                    name="attributeGtinMappedCode"
                                                    id="attribute-gtin-code"
                                                    required
                                                />
                                                {# <ul class="pricemonitor-filterable-list attributes-mapping-text-attributes">
                                                </ul> #}
                                            </div>
                                            <!--        Filterable drop down    -->
                                        </div>
                                    </div> 

                                    <div class="form-group row">
                                        <label for="attribute-name" class="col-sm-2 col-form-label">Name:</label>
                                        <div class="col-sm-4">                                    
                                            <div class="filterable-dropdown-wrapper input-wrapper">
                                                    <!--        Filterable drop down    -->
                                                    <select
                                                        class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                        name="attribute-name"
                                                        id="attribute-name"
                                                        onchange="updateCodeValuesOnInput(this)"
                                                        autocomplete="off"
                                                        required
                                                    />
                                                    </select>
                                                    <input type="hidden"
                                                        class="pricemonitor-form-field"
                                                        name="attributeNameMappedCode"
                                                        id="attribute-name-code"
                                                        required
                                                    />
                                                    {# <ul class="pricemonitor-filterable-list attributes-mapping-text-attributes">
                                                    </ul> #}
                                                </div>
                                                <!--        Filterable drop down    -->
                                            </div>
                                    </div> 

                                    <div class="form-group row">
                                        <label for="attribute-ref-price" class="col-sm-2 col-form-label ">Reference price:</label>
                
                                        <div class="col-sm-4">                                    
                                            <div class="filterable-dropdown-wrapper input-wrapper">
                                                <!--        Filterable drop down    -->
                                                <select class="form-control pricemonitor-filterable-list attributes-mapping-price-attributes" onchange="updateCodeValuesOnInput(this)" name="attribute-referencePrice" id="attribute-ref-price">
                                                    {% if salesPrices is not null %}
                                                        {% for salePrice in salesPrices %}                
                                                         <option value={{salePrice.salesPriceId}}>{{salePrice.nameInternal}}</option>                                                           
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>

                                                <input type="hidden"
                                                    class="pricemonitor-form-field"
                                                    name="attributeRefPriceMappedCode"
                                                    id="attribute-referencePrice-code"
                                                    required
                                                />
                                                {# <ul class="pricemonitor-filterable-list attributes-mapping-price-attributes">
                                                </ul> #}
                                            </div>
                                            <!--        Filterable drop down    -->
                                        </div>
                                    </div>      

                                    <div class="form-group row">
                                        <label for="attribute-min-price" class="col-sm-2 col-form-label">Min price:</label>
                                        <div class="col-sm-10">                                    
                                            <div class="filterable-dropdown-wrapper multiple-third">
                                               <div class="row">
                                                    <div class="input-wrapper col-sm-4">
                                                        <!--        Filterable drop down    -->
                                                         <select class="form-control pricemonitor-filterable-list attributes-mapping-price-attributes" onchange="updateCodeValuesOnInput(this)" name="attribute-minPriceBoundary" id="attribute-min-price">
                                                            {% if salesPrices is not null %}
                                                                {% for salePrice in salesPrices %}
                                                                        <option value={{salePrice.salesPriceId}}>{{salePrice.nameInternal}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                
                                                        <input type="hidden"
                                                            class="pricemonitor-form-field"
                                                            name="attributeMinPriceMappedCode"
                                                            id="attribute-minPriceBoundary-code"
                                                            required
                                                        />
                                                        {# <ul class="pricemonitor-filterable-list attributes-mapping-price-attributes">
                                                        </ul> #}
                                                    </div>
                                                    <!--        Filterable drop down    -->                                              
                                                    <div class="input-wrapper col-sm-3">
                                                        <select title="operation"
                                                                name="attribute-minPriceBoundary-operation"
                                                                class="pricemonitor-form-field form-control">
                                                            <option value="" label=" "></option>
                                                            <option value="add">Add</option>
                                                            <option value="sub">Subtract</option>
                                                            <option value="mul">Multiply</option>
                                                            <option value="div">Divide</option>
                                                        </select>
                                                    </div>                
                                                    <div class="input-wrapper col-sm-3">
                                                        <input type="number"
                                                            min="1"
                                                            title="minPriceOffset"
                                                            name="attribute-minPriceBoundary-offset"
                                                            class="pricemonitor-form-field form-control"
                                                        />
                                                </div>
                                              </div>                                          
                                           </div>
                                        </div>
                                    </div>     

                                    <div class="form-group row">
                                        <label for="attribute-max-price" class="col-sm-2 col-form-label">Max price:</label>
                                        <div class="col-sm-10">                                    
                                             <div class="filterable-dropdown-wrapper multiple-third">
                                               <div class="row">
                                                 <div class="input-wrapper col-sm-4">
                                                    <!--        Filterable drop down    -->

                                                    <select class="form-control pricemonitor-filterable-list attributes-mapping-price-attributes" name="attribute-maxPriceBoundary" onchange="updateCodeValuesOnInput(this)" id="attribute-max-price">
                                                            {% if salesPrices is not null %}
                                                                {% for salePrice in salesPrices %}
                                                                        <option value={{salePrice.salesPriceId}}>{{salePrice.nameInternal}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                            
                                                        <input type="hidden"
                                                            name="attributeMaxPriceMappedCode"
                                                            class="pricemonitor-form-field"
                                                            id="attribute-maxPriceBoundary-code"
                                                            required
                                                        />
                                                    {# <ul class="pricemonitor-filterable-list attributes-mapping-price-attributes">
                                                    </ul> #}
                                                    <!--        Filterable drop down    -->
                                                </div>
                                            <div class="input-wrapper col-sm-3">
                                                <select title="operation"
                                                        name="attribute-maxPriceBoundary-operation"
                                                        class="pricemonitor-form-field form-control">
                                                    <option value="" label=" "></option>
                                                    <option value="add">Add</option>
                                                    <option value="sub">Subtract</option>
                                                    <option value="mul">Multiply</option>
                                                    <option value="div">Divide</option>
                                                </select>
                                            </div>
                                            <div class="input-wrapper col-sm-3">
                                                <input type="number"
                                                    title="attributeMaxPriceOffset"
                                                    name="attribute-maxPriceBoundary-offset"
                                                    class="pricemonitor-form-field form-control"
                                                />
                                            </div>
                                        </div>
                                     </div>
                                  </div>
                                </div>                                                            
                               </fieldset>
                                <fieldset class="custom-tags scheduler-border" id="attributes-mapping-custom-tags" onsubmit="return false;">
                                    <legend class="scheduler-border">Custom tags</legend>
                                </fieldset>

                             <div class="form-group">
                               <button type="submit" class="input-button btn btn-primary float-right" id="pricemonitor-attributes-mapping-submit" name="submit" onclick="saveAttributesMapping()">
                                        Save
                                </button>
                             </div>                                    
                           
                        </form>
                    </section>
                </div>
                <div id="ItemExport" class="tabcontent">
                    <section class="pricemonitor-product-export pricemonitor-page" id="pricemonitor-product-export">
                        <form name="pricemonitorProductExport" novalidate onsubmit="return false;">
                             <div class="row">
                                <div class="col-md-8 first-row">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Scheduled export</legend>
                                        
                                        <div class="col-md-12">
                                            <div class="form-row pricemonitor-form-inline" style="margin-left:2%">
                                                <input type="checkbox"
                                                    class="pricemonitor-form-field form-check-input"
                                                    name="enableExport"
                                                    id="enabled-scheduled-export"
                                                    autocomplete="off" />
                                                <label class="form-check-label" for="enabled-scheduled-export">
                                                    Enable scheduled export
                                                </label>
                                            </div>

                                            <div class="form-row" style="padding-top:3%;">
                                            <label for="start-at-date">Start at:</label>
                                             <div class="form-group col-md-6" style="margin-left:10%;">
                                                <div class="input-group date " id="datetimepicker1" data-target-input="nearest">
                                                    <input type="text" id="start-at-date" class="form-control datetimepicker-input pricemonitor-filterable-dropdown pricemonitor-form-field" data-target="#datetimepicker1"/>
                                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                                {# <label for="start-at-date">Start at:</label>
                                                <input type="text" class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control col-md-6"
                                                    name="startAtDate"
                                                    id="start-at-date"
                                                    autocomplete="off"
                                                    readonly
                                                    style="margin-left:11%"
                                                    disabled /> #}
                                            </div>

                                            <div class="form-row" style="padding-top:3%;">
                                                <label for="repeat-interval">Repeat interval:</label>
                                                <select title="operation" name="exportInterval"  id="export-interval" class="pricemonitor-form-field form-control col-md-6"   style="margin-left:2%" disabled >
                                                        <option value="15">15 minutes</option>
                                                        <option value="20">20 minutes</option>
                                                        <option value="60">1 hour</option>
                                                        <option value="3600">60 hours</option>                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"  class="pricemonitor-input-button btn btn-primary float-right" id="pricemonitor-product-export-submit"  name="submit">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                    <div class="grid pricemonitor-tg-responsive col-md-4" id="transaction-history-export-master">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Transaction History</legend>
                                            <div>
                                                <div class="col-sm-12 pricemonitor-pagination">

                                                </div>
                                                <div class="col-sm-12">
                                                    <table class="pricemonitor-tg">
                                                        <thead>
                                                        <tr class="headings">
                                                            <th class="column-width-0">#</th>
                                                            <th class="column-width-2">Export Time</th>
                                                            <th class="column-width-2">Status</th>
                                                            <th class="column-width-1">Success Count</th>
                                                            <th class="column-width-1">Failed Count</th>
                                                            <th>Note</th>
                                                            <th class="column-width-0">Link</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                    <div class="pricemonitor-no-data">
                                                        No data to display
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    Total: <span class="pricemonitor-total">0</span>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                <div class="col-md-8">
                                    <fieldset class="scheduler-border">                                       
                                        <legend class="scheduler-border">Manual export</legend>
                                        <div class="col-md-6" style="margin-left:50%;">
                                            <button type="button"
                                                    class="pricemonitor-input-button btn btn-primary float-right"
                                                    id="export-now">Export now</button>
                                        </div>
                                    </fieldset>                                    
                                </div>
                            </div>
                        </form>                        
                    </section>
                </div>

                <div id="PriceSelection" class="tabcontent">
                    <section class="pricemonitor-price-selection pricemonitor-page" id="pricemonitor-price-selection">
                    <form name="pricemonitorPriceSelection">
                        <fieldset>
                            <div class="pricemonitor-filter-groups-wrapper-price col-md-12">
                                <!-- Groups will be generated here based on data fetched from the API -->
                            </div>
                        </fieldset>

                        <div class="form-group" id="groupSubmitPriceSelection">
                             <button type="submit" id="pricemonitor-price-selection-submit" style="margin-top:10%;" class="btn btn-primary float-right input-button" onclick="saveFilter(); return false;">Save</button>
                        </div> 
                    </form>
                </div>
                <div id="PriceImport" class="tabcontent">
                   <section class="pricemonitor-price-import pricemonitor-page" id="pricemonitor-price-import">
                        <form name="pricemonitorPriceImport" novalidate onsubmit="return false;">
                            <div class="row">
                                <div class="col-md-6 first-row">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Import settings</legend>
                                           <div class="col-md-12">
                                            <div class="form-row pricemonitor-form-inline">
                                                <input type="checkbox"
                                                        class="pricemonitor-form-field form-check-input"
                                                        name="enableImport"
                                                        id="enabled-scheduled-import"
                                                        autocomplete="off" />
                                                <label class="form-check-label" for="enabled-scheduled-import">
                                                    Import when new price is available                    
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"
                                                        class="input-button btn btn-primary float-right"
                                                        id="pricemonitor-product-import-submit"
                                                        name="submit">
                                                      Save
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6 first-row">
                                    <fieldset>
                                        <div id="pricemonitor-last-import">
                                            <div class="pricemonitor-no-sync-data">
                                                There are no price import
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Manual import</legend>
                                        <div class="col-md-6" style="margin-left:50%;">
                                            <button type="button" class="btn btn-primary float-right" id="import-now">Import now</button>
                                        </div>
                                    </fieldset>
                                 </div>
                                <div class="col-md-6">
                                <div class="grid pricemonitor-tg-responsive" id="transaction-history-import-master">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Transaction History</legend>
                                        <div>
                                            <div class="col-sm-12 pricemonitor-pagination">
                                            </div>
                                            <div class="col-sm-12">
                                                <table class="pricemonitor-tg">
                                                    <thead>
                                                    <tr class="headings">
                                                        <th class="column-width-0">#</th>
                                                        <th class="column-width-2">Import time</th>
                                                        <th class="column-width-2">Status</th>
                                                        <th class="column-width-1">Imported prices</th>
                                                        <th class="column-width-1">Updated prices</th>
                                                        <th class="column-width-1">Failed</th>
                                                        <th>Note</th>
                                                        <th class="column-width-0">Link</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="pricemonitor-no-data">
                                                    No data to display
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                Total: <span class="pricemonitor-total">0</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                </div>
             </div>
         </div> 
    </div>

    <div id="MyAccount" class="tabcontentprestaprice">  
        <section class="pricemonitor-main-content pricemonitor-page visible">
            <form name="accountInfo" id="accountInfo" novalidate onsubmit="return false;">
                <fieldset>
                    <legend>My Account</legend>
                   
                    <div class="col-md-12">                        
                        <div class="form-group row">
                            <label for="pricemonitor-user-email" class="col-sm-2 col-form-label">Email:</label>
                            <div class="input-wrapper col-sm-4">
                                <input id="pricemonitor-user-email" class="form-control" type="email" name="email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pricemonitor-user-password" class="col-sm-2 col-form-label">Password:</label>
                            <div class="input-wrapper col-sm-4">
                                <input id="pricemonitor-user-password" class="form-control" type="password" name="password" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pricemonitor-transactions-retention" class="col-sm-2 col-form-label">
                               History master data retention interval: </label>
                            <div class="input-wrapper col-sm-4">
                                <input id="pricemonitor-transactions-retention"
                                    class="small-input form-control"
                                    type="number"
                                    min="1"
                                    name="transactionsRetention" />                                
                            </div>
                            <div clas="col-sm-2">days</div>
                        </div>
                        <div class="form-group row">
                            <label for="pricemonitor-transaction-details-retention" class="form-label col-sm-2 col-form-label">
                                History detail data retention interval: </label>
                            <div class="input-wrapper col-sm-4">
                                <input id="pricemonitor-transaction-details-retention"
                                    class="small-input form-control"
                                    type="number"
                                    min="1"
                                    name="transactionDetailsRetention" />                                
                            </div>
                             <div clas="col-sm-2">days</div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-row" style="margin-left:90%;">
                    <button type="submit"
                            class="input-button btn btn-primary float-right"
                            id="pricemonitor-save-account-info"
                            name="saveAccount" onclick="saveAccountInfo();return false;">
                       Save
                    </button>
                </div>
            </form>
        </section>
    </div>
</div> 
  
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/app.js"></script>
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/attributesMapping.js"></script>
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/productExport.js"></script>
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/priceImport.js"></script>
{# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> #}
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/bootstrap.min.js"></script>
{# <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/bootstrap-datetimepicker.min.js"></script> #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Integrate bootstrap select -->
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/select2.js"></script>
</body>
</html>