<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integration with pricemonitor</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
 
    <!-- Integrate jQuery -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/jquery-3.3.1.min.js"></script>
</head>
 
<body>
   <div class="priceMonitorPrestaMain">
   <div class="tabprestaprice">
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'Dashboard')" id="defaultOpen">Global Dashboard</button>
        <button class="tablinksprestaprice accordion" onclick="expandCollapseMenu(this)">Contracts</button>
        <ul class="ulAccordation" style="display:none;"> 
            {% if contracts is not null %}
                {% for contractPricemonitorId,contractName in contracts %}
                    <li>  <button class="tablinksprestaprice secondLevelButton" onclick="showTabContentContent(event, 'Contracts')"> {{contractName}}</button></li>
                {% endfor %}
            {% endif %}           
        </ul>
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'MyAccount')">My account</button>
    </div>

<div id="Dashboard" class="tabcontentprestaprice">

   <h1 class="title">Welcome to the Pricemonitor</h1><br>
        <span class="text">The Pricemonitor helps you to increase sales by <b>optimizing your selling prices</b> and by providing important market insights</span><br><br>
        <img class="pricemonitor-dashboardimg" src="{{ plugin_path("PriceMonitorPlentyIntegration") }}/images/dashboard.png"><br><br>        

        <span class="text">To transfer your products and receive optimized selling prices it is necessary to connect your Shopware shop with the Pricemonitor by using the configuration under <a href="#" class="contracts">contracts</a>.</span><br><br>
        <span class="text">If you need help or would like to have a personal and individual advisory, please do not hesitate to contact our support team:</span><br><br>
        <ul class="text">
            <li> <a href="http://www.patagona.de" target="_blank">www.patagona.de</a></li>
            <li> +49 (0)6151 8008320</li>
            <li> <a href="mailto:support@patagona.de">support@patagona.de</a></li>
        </ul>
 </div>

    <div id="Contracts" class="tabcontentprestaprice">
        <div class="pricemonitor-main-content" xmlns="http://www.w3.org/1999/html">
            <div class="pricemonitor-contract-main">
                <div class="spinner">
                    <div class="spinner-loader"></div>
                </div>
                <div class="pricemonitor-header-warning" id="pricemonitor-expiry-header-warning">
                    <span class="icon">&nbsp;</span>
                </div>
                 <div class="pricemonitor-header-error" id="pricemonitor-expiry-header-error">
                    <span class="icon">&nbsp;</span>
                </div>
                <div class="tab">
                    <button class="tablinks" onclick="showTabContent(event, 'ContractInfo')">Contract info</button>
                    <button class="tablinks" onclick="showTabContent(event, 'ItemSelection')">Item selection</button>
                    <button class="tablinks" onclick="showTabContent(event, 'AttributesMapping')" >Attributes mapping</button>
                    <button class="tablinks" onclick="showTabContent(event, 'ItemExport')">Item export </button>
                    <button class="tablinks" onclick="showTabContent(event, 'PriceSelection')">Price selection </button>
                    <button class="tablinks" onclick="showTabContent(event, 'PriceImport')">Price import </button>
                </div>
                <div id="ContractInfo" class="tabcontent">
                    <h3>Contract Info</h3>
                    {% include "{{ plugin_path('PriceMonitorPlentyIntegration') }}/views//content/contractInfo.twig"  %}
                </div>
1
                <div id="ItemSelection" class="tabcontent">
                    <h3>ItemSelection</h3>
                    <p>ItemSelection content form</p> 
                </div>

                <div id="AttributesMapping" class="tabcontent">
                    <h3>AttributesMapping</h3>
                    <p>TAttributesMapping content form</p>
                </div>
                <div id="ItemExport" class="tabcontent">
                    <h3>ItemExport</h3>
                    <p>ItemExport content form</p>
                </div>

                <div id="PriceSelection" class="tabcontent">
                    <h3>PriceSelection</h3>
                    <p>PriceSelection content form</p>
                </div>
                <div id="PriceImport" class="tabcontent">
                    <h3>PriceImport</h3>
                    <p>PriceImport content form</p>
                </div>
             </div>
         </div> 
    </div>

    <div id="MyAccount" class="tabcontentprestaprice">  
        <p>My account</p>
    </div>
</div> 
  
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/app.js"></script>
</body>
</html>