<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integration with pricemonitor</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/main.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/toastr.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/select2.css" rel="stylesheet">

    <!-- Integrate jQuery -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/jquery-3.3.1.min.js"></script>

    <!-- Integrate toastr -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/toastr.js"></script>

</head>
 
<body>
   <div class="priceMonitorPrestaMain">
   <div class="tabprestaprice">
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'Dashboard',this)" id="defaultOpen">Global Dashboard</button>
        <button class="tablinksprestaprice accordion" onclick="expandCollapseMenu(this)">Contracts</button>
        <ul class="ulAccordation" style="display:none;"> 
            {% if contracts is not null %}
                {% for contract in contracts %}
                    <li>  <button class="tablinksprestaprice secondLevelButton" data-Id={{contract.id}} data-salesPrice = {{contract.salesPricesImport|join(',')}} data-insertPrices={{contract.isInsertSalesPrice}}  data-contractId = {{contract.priceMonitorId}} onclick="showTabContentContent(event, 'Contracts',this)"> {{contract.name}}</button></li>
                {% endfor %}
            {% endif %}           
        </ul>
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'MyAccount',this)">My account</button>
    </div>

<div id="Dashboard" class="tabcontentprestaprice">

   <h1 class="title">Welcome to the Pricemonitor</h1><br>
        <span class="text">The Pricemonitor helps you to increase sales by <b>optimizing your selling prices</b> and by providing important market insights</span><br><br>
        <img class="pricemonitor-dashboardimg" src="{{ plugin_path("PriceMonitorPlentyIntegration") }}/images/dashboard.png"><br><br>        

        <span class="text">To transfer your products and receive optimized selling prices it is necessary to connect your Shopware shop with the Pricemonitor by using the configuration under <a href="#" class="contracts">contracts</a>.</span><br><br>
        <span class="text">If you need help or would like to have a personal and individual advisory, please do not hesitate to contact our support team:</span><br><br>
        <ul class="text">
            <li> <a href="http://www.patagona.de" target="_blank">www.patagona.de</a></li>
            <li> +49 (0)6151 8008320</li>
            <li> <a href="mailto:support@patagona.de">support@patagona.de</a></li>
        </ul>
 </div>

    <div id="Contracts" class="tabcontentprestaprice">
        <div class="pricemonitor-main-content" xmlns="http://www.w3.org/1999/html">
            <div class="pricemonitor-contract-main">
                <div class="spinner">
                    <div class="spinner-loader"></div>
                </div>
                <div class="pricemonitor-header-warning" id="pricemonitor-expiry-header-warning">
                    <span class="icon">&nbsp;</span>
                </div>
                 <div class="pricemonitor-header-error" id="pricemonitor-expiry-header-error">
                    <span class="icon">&nbsp;</span>
                </div>
                <div class="tab">
                    <button class="tablinks" id="tabContractInfo" onclick="showTabContent(event, 'ContractInfo')">Contract info</button>
                    <button class="tablinks" id="tabItemSelection" onclick="showTabContent(event, 'ItemSelection')">Item selection</button>
                    <button class="tablinks" id="tabAttMapping" onclick="showTabContent(event, 'AttributesMapping')" >Attributes mapping</button>
                    <button class="tablinks" onclick="showTabContent(event, 'ItemExport')">Item export </button>
                    <button class="tablinks" onclick="showTabContent(event, 'PriceSelection')">Price selection </button>
                    <button class="tablinks" onclick="showTabContent(event, 'PriceImport')">Price import </button>
                </div>
                <div id="ContractInfo" class="tabcontent">
                    <section id="sectionContractInfo">
                        <form>

                           <input type="hidden" class="form-control" id="idContract">
                            <div class="form-group row">
                                <label for="contractName" class="col-sm-2 col-form-label">Contract name:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="contractName" placeholder="Contract name" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contractId" class="col-sm-2 col-form-label">Contract id:</label>
                                <div class="col-sm-4">                                    
                                    <input type="text" class="form-control" id="contractId" placeholder="Contract Id" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group row">                               
                                    <label for="salesPrice" class="col-sm-3 col-form-label">Sales price to import in:</label>
                                    <div class="col-sm-4" style="margin-left:-8% !important">
                                        <select class="js-example-basic-multiple" name="salesPrice[]" id="salesPrice" multiple="multiple">
                                            {% if salesPrices is not null %}
                                                {% for salePrice in salesPrices %}
                                                        <option value={{salePrice.salesPriceId}}>{{salePrice.nameInternal}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div> 

                                    <label for="salesPriceVariationSelect" class="col-sm-3 col-form-label">Insert sales price in variation:</label>
                                    <div class="col-sm-3" style="margin-left:-4%">
                                        <select class="form-control" id="salesPriceVariationSelect">
                                            <option value='true'>Yes</option>
                                            <option value='false'>No</option>                                           
                                        </select>        
                                    </div>                               
                            </div>
                            <div class="form-group" id="groupSubmitContractInfo">
                                <button type="submit" class="btn btn-primary float-right" onclick="updateContractInfo(); return false;">Save</button>
                            </div>                            
                        </form>
                    </section>
                </div>

                <div id="ItemSelection" class="tabcontent">
                    <section id="pricemonitor-product-selection" class="pricemonitor-product-selection pricemonitor-page">
                        <form name="pricemonitorProductSelection">
                             
                             <fieldset>
                                <div class="pricemonitor-filter-groups-wrapper col-md-12">
                                    <!-- Groups will be generated here based on data fetched from the API -->
                                </div>
                            </fieldset>

                            <div class="form-group" id="groupSubmitItemSelection">
                                <button type="submit" style="margin-top:10%;" class="btn btn-primary float-right" onclick="saveFilter(); return false;">Save</button>
                            </div>                            
                        </form>
                    </section>
                </div>

                <div id="AttributesMapping" class="tabcontent">
                   <section class="pricemonitor-attributes-mapping pricemonitor-page" id="pricemonitor-attributes-mapping">
                            <div class="spinner">
                                <div class="spinner-loader"></div>
                            </div>
                            <form name="pricemonitorAttributesMapping" novalidate onsubmit="return false;">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Mandatory attributes</legend>
                                    <div class="form-group row">
                                        <label for="attribute-gtin" class="col-sm-2 col-form-label">Gtin</label>
                                        <div class="col-sm-4">
                                             <div class="filterable-dropdown-wrapper input-wrapper">
                                                <!--        Filterable drop down    -->
                                                <select
                                                    class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                    name="attribute-gtin"
                                                    id="attribute-gtin"
                                                    autocomplete="off"
                                                    required
                                                />
                                                </select>
                                                <input type="hidden"
                                                    class="pricemonitor-form-field"
                                                    name="attributeGtinMappedCode"
                                                    id="attribute-gtin-code"
                                                    required
                                                />
                                                <ul class="pricemonitor-filterable-list attributes-mapping-text-attributes">
                                                </ul>
                                            </div>
                                            <!--        Filterable drop down    -->
                                        </div>
                                    </div> 

                                    <div class="form-group row">
                                        <label for="attribute-name" class="col-sm-2 col-form-label">Name:</label>
                                        <div class="col-sm-4">                                    
                                            <div class="filterable-dropdown-wrapper input-wrapper">
                                                    <!--        Filterable drop down    -->
                                                    <select
                                                        class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                        name="attribute-name"
                                                        id="attribute-name"
                                                        autocomplete="off"
                                                        required
                                                    />
                                                    </select>
                                                    <input type="hidden"
                                                        class="pricemonitor-form-field"
                                                        name="attributeNameMappedCode"
                                                        id="attribute-name-code"
                                                        required
                                                    />
                                                    <ul class="pricemonitor-filterable-list attributes-mapping-text-attributes">
                                                    </ul>
                                                </div>
                                                <!--        Filterable drop down    -->
                                            </div>
                                    </div> 

                                    <div class="form-group row">
                                        <label for="attribute-ref-price" class="col-sm-2 col-form-label ">Reference price:</label>
                                        <div class="col-sm-4">                                    
                                            <div class="filterable-dropdown-wrapper input-wrapper">
                                                <!--        Filterable drop down    -->
                                                <select
                                                    class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                    name="attribute-referencePrice"
                                                    id="attribute-ref-price"
                                                    autocomplete="off"
                                                    required
                                                />
                                                </select>
                                                <input type="hidden"
                                                    class="pricemonitor-form-field"
                                                    name="attributeRefPriceMappedCode"
                                                    id="attribute-referencePrice-code"
                                                    required
                                                />
                                                <ul class="pricemonitor-filterable-list attributes-mapping-price-attributes">
                                                </ul>
                                            </div>
                                            <!--        Filterable drop down    -->
                                        </div>
                                    </div>      

                                    <div class="form-group row">
                                        <label for="attribute-min-price" class="col-sm-2 col-form-label">Min price:</label>
                                        <div class="col-sm-10">                                    
                                            <div class="filterable-dropdown-wrapper multiple-third">
                                               <div class="row">
                                                    <div class="input-wrapper col-sm-3">
                                                        <!--        Filterable drop down    -->
                                                        <select
                                                            class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                            name="attribute-minPriceBoundary"
                                                            id="attribute-min-price"
                                                            autocomplete="off"
                                                            required
                                                        />
                                                        </select>
                                                        <input type="hidden"
                                                            class="pricemonitor-form-field"
                                                            name="attribute-minPriceBoundary-code"
                                                            id="attribute-min-price-mapped-code"
                                                            required
                                                        />
                                                        <ul class="pricemonitor-filterable-list attributes-mapping-price-attributes">
                                                        </ul>
                                                    </div>
                                                    <!--        Filterable drop down    -->                                              
                                                    <div class="input-wrapper col-sm-3">
                                                        <select title="operation"
                                                                name="attribute-minPriceBoundary-operation"
                                                                class="pricemonitor-form-field form-control">
                                                            <option value="" label=" "></option>
                                                            <option value="add">Add</option>
                                                            <option value="sub">Subtract</option>
                                                            <option value="mul">Multiply</option>
                                                            <option value="div">Divide</option>
                                                        </select>
                                                    </div>                
                                                    <div class="input-wrapper col-sm-3">
                                                        <input type="number"
                                                            min="1"
                                                            title="minPriceOffset"
                                                            name="attribute-minPriceBoundary-offset"
                                                            class="pricemonitor-form-field form-control"
                                                        />
                                                </div>
                                              </div>                                          
                                           </div>
                                        </div>
                                    </div>     

                                    <div class="form-group row">
                                        <label for="attribute-max-price" class="col-sm-2 col-form-label">Max price:</label>
                                        <div class="col-sm-10">                                    
                                             <div class="filterable-dropdown-wrapper multiple-third">
                                               <div class="row">
                                                 <div class="input-wrapper col-sm-3">
                                                    <!--        Filterable drop down    -->
                                                        <select  class="pricemonitor-filterable-dropdown pricemonitor-form-field form-control pricemonitor-filterable-list attributes-mapping-text-attributes"
                                                                 name="attribute-maxPriceBoundary"
                                                                 id="attribute-max-price"
                                                                 autocomplete="off"
                                                                 required
                                                        /> </select>
                                                        <input type="hidden"
                                                            name="attributeMaxPriceMappedCode"
                                                            class="pricemonitor-form-field"
                                                            id="attribute-maxPriceBoundary-code"
                                                            required
                                                        />
                                                    <ul class="pricemonitor-filterable-list attributes-mapping-price-attributes">
                                                    </ul>
                                                    <!--        Filterable drop down    -->
                                                </div>
                                            <div class="input-wrapper col-sm-3">
                                                <select title="operation"
                                                        name="attribute-maxPriceBoundary-operation"
                                                        class="pricemonitor-form-field form-control">
                                                    <option value="" label=" "></option>
                                                    <option value="add">Add</option>
                                                    <option value="sub">Subtract</option>
                                                    <option value="mul">Multiply</option>
                                                    <option value="div">Divide</option>
                                                </select>
                                            </div>
                                            <div class="input-wrapper col-sm-3">
                                                <input type="number"
                                                    title="attributeMaxPriceOffset"
                                                    name="attribute-maxPriceBoundary-offset"
                                                    class="pricemonitor-form-field form-control"
                                                />
                                            </div>
                                        </div>
                                     </div>
                                  </div>
                                </div>                                                            
                               </fieldset>
                                <fieldset class="custom-tags scheduler-border" id="attributes-mapping-custom-tags" onsubmit="return false;">
                                    <legend class="scheduler-border">Custom tags</legend>
                                </fieldset>

                                <div class="form-row">
                                    <button type="submit"
                                            class="input-button"
                                            id="pricemonitor-attributes-mapping-submit"
                                            name="submit">
                                        Save
                                    </button>
                                </div>
                            </form>
                    </section>
                </div>
                <div id="ItemExport" class="tabcontent">
                    <h3>ItemExport</h3>
                    <p>ItemExport content form</p>
                </div>

                <div id="PriceSelection" class="tabcontent">
                    <h3>PriceSelection</h3>
                    <p>PriceSelection content form</p>
                </div>
                <div id="PriceImport" class="tabcontent">
                    <h3>PriceImport</h3>
                    <p>PriceImport content form</p>
                </div>
             </div>
         </div> 
    </div>

    <div id="MyAccount" class="tabcontentprestaprice">  
        <p>My account</p>
    </div>
</div> 
  
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/app.js"></script>
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/attributesMapping.js"></script>
{# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> #}
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/bootstrap.min.js"></script>

  <!-- Integrate bootstrap select -->
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/select2.js"></script>
</body>
</html>