<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integration with pricemonitor</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/main.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/toastr.css" rel="stylesheet">
    <link href="{{ plugin_path('PriceMonitorPlentyIntegration') }}/css/select2.css" rel="stylesheet">

    <!-- Integrate jQuery -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/jquery-3.3.1.min.js"></script>

    <!-- Integrate toastr -->
    <script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/toastr.js"></script>

</head>
 
<body>
   <div class="priceMonitorPrestaMain">
   <div class="tabprestaprice">
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'Dashboard',this)" id="defaultOpen">Global Dashboard</button>
        <button class="tablinksprestaprice accordion" onclick="expandCollapseMenu(this)">Contracts</button>
        <ul class="ulAccordation" style="display:none;"> 
            {% if contracts is not null %}
                {% for contract in contracts %}
                    <li>  <button class="tablinksprestaprice secondLevelButton" data-Id={{contract.id}} data-salesPrice = {{contract.salesPricesImport|join(',')}} data-insertPrices={{contract.isInsertSalesPrice}}  data-contractId = {{contract.priceMonitorId}} onclick="showTabContentContent(event, 'Contracts',this)"> {{contract.name}}</button></li>
                {% endfor %}
            {% endif %}           
        </ul>
        <button class="tablinksprestaprice" onclick="showTabContentContent(event, 'MyAccount',this)">My account</button>
    </div>

<div id="Dashboard" class="tabcontentprestaprice">

   <h1 class="title">Welcome to the Pricemonitor</h1><br>
        <span class="text">The Pricemonitor helps you to increase sales by <b>optimizing your selling prices</b> and by providing important market insights</span><br><br>
        <img class="pricemonitor-dashboardimg" src="{{ plugin_path("PriceMonitorPlentyIntegration") }}/images/dashboard.png"><br><br>        

        <span class="text">To transfer your products and receive optimized selling prices it is necessary to connect your Shopware shop with the Pricemonitor by using the configuration under <a href="#" class="contracts">contracts</a>.</span><br><br>
        <span class="text">If you need help or would like to have a personal and individual advisory, please do not hesitate to contact our support team:</span><br><br>
        <ul class="text">
            <li> <a href="http://www.patagona.de" target="_blank">www.patagona.de</a></li>
            <li> +49 (0)6151 8008320</li>
            <li> <a href="mailto:support@patagona.de">support@patagona.de</a></li>
        </ul>
 </div>

    <div id="Contracts" class="tabcontentprestaprice">
        <div class="pricemonitor-main-content" xmlns="http://www.w3.org/1999/html">
            <div class="pricemonitor-contract-main">
                <div class="spinner">
                    <div class="spinner-loader"></div>
                </div>
                <div class="pricemonitor-header-warning" id="pricemonitor-expiry-header-warning">
                    <span class="icon">&nbsp;</span>
                </div>
                 <div class="pricemonitor-header-error" id="pricemonitor-expiry-header-error">
                    <span class="icon">&nbsp;</span>
                </div>
                <div class="tab">
                    <button class="tablinks" id="tabContractInfo" onclick="showTabContent(event, 'ContractInfo')">Contract info</button>
                    <button class="tablinks" onclick="showTabContent(event, 'ItemSelection')">Item selection</button>
                    <button class="tablinks" onclick="showTabContent(event, 'AttributesMapping')" >Attributes mapping</button>
                    <button class="tablinks" onclick="showTabContent(event, 'ItemExport')">Item export </button>
                    <button class="tablinks" onclick="showTabContent(event, 'PriceSelection')">Price selection </button>
                    <button class="tablinks" onclick="showTabContent(event, 'PriceImport')">Price import </button>
                </div>
                <div id="ContractInfo" class="tabcontent">
                    <section id="sectionContractInfo">
                        <form>

                           <input type="hidden" class="form-control" id="idContract">
                            <div class="form-group row">
                                <label for="contractName" class="col-sm-2 col-form-label">Contract name:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="contractName" placeholder="Contract name" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contractId" class="col-sm-2 col-form-label">Contract id:</label>
                                <div class="col-sm-4">                                    
                                    <input type="text" class="form-control" id="contractId" placeholder="Contract Id" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group row">                               
                                    <label for="salesPrice" class="col-sm-3 col-form-label">Sales price to import in:</label>
                                    <div class="col-sm-4" style="margin-left:-8% !important">
                                        <select class="js-example-basic-multiple" name="salesPrice[]" id="salesPrice" multiple="multiple">
                                            {% if salesPrices is not null %}
                                                {% for salePrice in salesPrices %}
                                                        <option value={{salePrice.salesPriceId}}>{{salePrice.nameInternal}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div> 

                                    <label for="salesPriceVariationSelect" class="col-sm-3 col-form-label">Insert sales price in variation:</label>
                                    <div class="col-sm-3" style="margin-left:-4%">
                                        <select class="form-control" id="salesPriceVariationSelect">
                                            <option value='true'>Yes</option>
                                            <option value='false'>No</option>                                           
                                        </select>        
                                    </div>                               
                            </div>
                            <div class="form-group" id="groupSubmitContractInfo">
                                <button type="submit" class="btn btn-primary float-right" onclick="updateContractInfo(); return false;">Save</button>
                            </div>                            
                        </form>
                    </section>
                </div>

                <div id="ItemSelection" class="tabcontent">
                    <section id="sectionItemSelection">
                        <form>
                             <div class="form-group row">                               
                                    <label for="markets" class="col-sm-1 col-form-label">Markets:</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="markets">
                                            <option value='true'>Yes</option>
                                            <option value='false'>No</option>                                           
                                        </select>        
                                    </div>
                                    <label for="store" class="col-sm-2 col-form-label">Client (store):</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="store">
                                             {% if clientStores is not null %}
                                                {% for store in clientStores %}
                                                        <option value={{store.storeIdentifier}}>{{store.name}}</option>
                                                {% endfor %}
                                            {% endif %}                                           
                                        </select>        
                                    </div>                               
                            </div>
                            <div class="form-group" id="groupSubmitItemSelection">
                                <button type="submit" class="btn btn-primary float-right" onclick="#">Save</button>
                            </div>                            
                        </form>
                    </section>
                </div>

                <div id="AttributesMapping" class="tabcontent">
                    <h3>AttributesMapping</h3>
                    <p>TAttributesMapping content form</p>
                </div>
                <div id="ItemExport" class="tabcontent">
                    <h3>ItemExport</h3>
                    <p>ItemExport content form</p>
                </div>

                <div id="PriceSelection" class="tabcontent">
                    <h3>PriceSelection</h3>
                    <p>PriceSelection content form</p>
                </div>
                <div id="PriceImport" class="tabcontent">
                    <h3>PriceImport</h3>
                    <p>PriceImport content form</p>
                </div>
             </div>
         </div> 
    </div>

    <div id="MyAccount" class="tabcontentprestaprice">  
        <p>My account</p>
    </div>
</div> 
  
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/app.js"></script>
{# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> #}
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/bootstrap.min.js"></script>

  <!-- Integrate bootstrap select -->
<script src="{{ plugin_path('PriceMonitorPlentyIntegration') }}/js/select2.js"></script>
</body>
</html>